examples/basic.json
[{"id":"02e41ea142e53997","type":"inject","z":"ef52919cded16f24","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":140,"wires":[["a4fb9d93caf1c8c1"]]},{"id":"ff86129925dd7ba1","type":"debug","z":"ef52919cded16f24","name":"raw api returned","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":680,"y":80,"wires":[]},{"id":"11f7a24238295cae","type":"function","z":"ef52919cded16f24","name":"Summarize day","func":"let output = []\nfor (const child of Object.values(msg.payload)) {\n    let text = ['Aula: ' + child.institutionProfile.name.split(' ')[0] + ' status er: ' + child.state]\n    if (child.checkInTime) text.push('Kom kl. ' + child.checkInTime.slice(0, -3))\n    if (child.checkOutTime) text.push('Gik kl. ' + child.checkOutTime.slice(0, -3))\n    if (child.sleepIntervals.length) {\n        if (child.sleepIntervals[0].startTime) text.push('Sov kl. ' + child.sleepIntervals[0].startTime.slice(0, -3))\n        if (child.sleepIntervals[0].endTime) {\n            let [ hour1, min1 ] = child.sleepIntervals[0].startTime.split(':')\n            let startTime = new Date().setHours(hour1, min1, 0, 0)\n            let [hour2, min2] = child.sleepIntervals[0].endTime.split(':')\n            let endTime = new Date().setHours(hour2, min2, 0, 0)\n            let difference = Number(endTime) - Number(startTime)\n            let hours = Math.floor(difference / 36e5)\n            let minutes = String(Math.floor(difference % 36e5 / 60000)).padStart(2, '0')\n            text.push('Vågnede kl. ' + child.sleepIntervals[0].endTime.slice(0, -3) + '. Sove længde: ' + hours + ':' + minutes + '[h:mm]')\n        }\n    }\n    output.push(text.join(', '))\n}\nmsg.payload = output\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":140,"wires":[["e94e9d3fccb2e68a"]]},{"id":"e94e9d3fccb2e68a","type":"debug","z":"ef52919cded16f24","name":"debug 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1020,"y":140,"wires":[]},{"id":"5869b23eef4c2bdf","type":"function","z":"ef52919cded16f24","name":"Show newest data","func":"let output = []\nfor (const [childID, child] of Object.entries(msg.payload)) {\n    msg.topic = childID\n    let text = child.institutionProfile.name.split(' ')[0] + ' status er: ' + child.state + '. '\n    if (child.checkOutTime) text += 'Gik kl. ' + child.checkOutTime.slice(0, -3)\n    else if (child.sleepIntervals.length) {\n        if (child.sleepIntervals[0].endTime) {\n            let [hour1, min1] = child.sleepIntervals[0].startTime.split(':')\n            let startTime = new Date().setHours(hour1, min1, 0, 0)\n            let [hour2, min2] = child.sleepIntervals[0].endTime.split(':')\n            let endTime = new Date().setHours(hour2, min2, 0, 0)\n            let difference = Number(endTime) - Number(startTime)\n            let hours = Math.floor(difference / 36e5)\n            let minutes = String(Math.floor(difference % 36e5 / 60000)).padStart(2, '0')\n            text += 'Vågnede kl. ' + child.sleepIntervals[0].endTime.slice(0, -3) + '. Sove længde: ' + hours + ':' + minutes + '[h:mm]'\n        } else if (child.sleepIntervals[0].startTime) text += 'Sov kl. ' + child.sleepIntervals[0].startTime.slice(0, -3)\n    } else if (child.checkInTime) text += 'Kom kl. ' + child.checkInTime.slice(0, -3)\n    node.send({ ...msg,...{ payload: text.trim() } });\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":200,"wires":[["6e11abad074c6529"]]},{"id":"712af9c2f07b8357","type":"debug","z":"ef52919cded16f24","name":"debug 4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1080,"y":200,"wires":[]},{"id":"6e11abad074c6529","type":"rbe","z":"ef52919cded16f24","name":"filter by child ID","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","topi":"topic","x":900,"y":200,"wires":[["712af9c2f07b8357"]]},{"id":"a4fb9d93caf1c8c1","type":"aulaNode","z":"ef52919cded16f24","name":"","outputChoice":"getDailyOverview","x":440,"y":140,"wires":[["ff86129925dd7ba1","11f7a24238295cae","5869b23eef4c2bdf"]]}]