examples/basic.json
[{"id":"c9eff2efa00acb03","type":"inject","z":"ee79326e788e5b10","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":340,"y":180,"wires":[["25411bb45e452657"]]},{"id":"7a742fbc0e9291e7","type":"debug","z":"ee79326e788e5b10","name":"raw api returned","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":820,"y":120,"wires":[]},{"id":"2717c12d847a2aa4","type":"function","z":"ee79326e788e5b10","name":"Summarize day","func":"let output = []\nfor (const [childID, child] of Object.entries(msg.payload.dailyOverview)) {\n    let text = [child.institutionProfile.name.split(' ')[0] + ' status er: ' + child.state]\n    if (child.checkInTime) text.push('Kom kl. ' + child.checkInTime.slice(0, -3))\n    if (child.checkOutTime) text.push('Gik kl. ' + child.checkOutTime.slice(0, -3))\n    if (child.sleepIntervals.length) {\n        if (child.sleepIntervals[0].startTime) text.push('Sov kl. ' + child.sleepIntervals[0].startTime.slice(0, -3))\n        if (child.sleepIntervals[0].endTime) {\n            let [ hour1, min1 ] = child.sleepIntervals[0].startTime.split(':')\n            let startTime = new Date(msg.payload.updateDateTime).setHours(hour1, min1, 0, 0)\n            let [hour2, min2] = child.sleepIntervals[0].endTime.split(':')\n            let endTime = new Date(msg.payload.updateDateTime).setHours(hour2, min2, 0, 0)\n            let difference = Number(endTime) - Number(startTime)\n            let hours = Math.floor(difference / 36e5)\n            let minutes = String(Math.floor(difference % 36e5 / 60000)).padStart(2, '0')\n            text.push('Vågnede kl. ' + child.sleepIntervals[0].endTime.slice(0, -3) + '. Sove længde: ' + hours + ':' + minutes + '[h:mm]')\n        }\n    }\n    output.push(text.join(', '))\n}\nmsg.payload = output\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":180,"wires":[["76b4e493e0f622b1"]]},{"id":"76b4e493e0f622b1","type":"debug","z":"ee79326e788e5b10","name":"debug 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1160,"y":180,"wires":[]},{"id":"e29317256326eb99","type":"function","z":"ee79326e788e5b10","name":"Show newest data","func":"let output = []\nfor (const [childID, child] of Object.entries(msg.payload.dailyOverview)) {\n    msg.topic = childID\n    let text = child.institutionProfile.name.split(' ')[0] + ' status er: ' + child.state + '. '\n    if (child.checkOutTime) text += 'Gik kl. ' + child.checkOutTime.slice(0, -3)\n    else if (child.sleepIntervals.length) {\n        if (child.sleepIntervals[0].endTime) {\n            let [hour1, min1] = child.sleepIntervals[0].startTime.split(':')\n            let startTime = new Date(msg.payload.updateDateTime).setHours(hour1, min1, 0, 0)\n            let [hour2, min2] = child.sleepIntervals[0].endTime.split(':')\n            let endTime = new Date(msg.payload.updateDateTime).setHours(hour2, min2, 0, 0)\n            let difference = Number(endTime) - Number(startTime)\n            let hours = Math.floor(difference / 36e5)\n            let minutes = String(Math.floor(difference % 36e5 / 60000)).padStart(2, '0')\n            text += 'Vågnede kl. ' + child.sleepIntervals[0].endTime.slice(0, -3) + '. Sove længde: ' + hours + ':' + minutes + '[h:mm]'\n        } else if (child.sleepIntervals[0].startTime) text += 'Sov kl. ' + child.sleepIntervals[0].startTime.slice(0, -3)\n    } else if (child.checkInTime) text += 'Kom kl. ' + child.checkInTime.slice(0, -3)\n    node.send({ ...msg,...{ payload: text.trim() } });\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":830,"y":240,"wires":[["fdfefb20656a36e1"]]},{"id":"1ddb60b41ecb7196","type":"debug","z":"ee79326e788e5b10","name":"debug 4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1220,"y":240,"wires":[]},{"id":"fdfefb20656a36e1","type":"rbe","z":"ee79326e788e5b10","name":"filter by child ID","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","topi":"topic","x":1040,"y":240,"wires":[["1ddb60b41ecb7196"]]},{"id":"25411bb45e452657","type":"aulaNode","z":"ee79326e788e5b10","name":"","x":580,"y":180,"wires":[["2717c12d847a2aa4","e29317256326eb99","7a742fbc0e9291e7"]]}]