examples/messagesPostNotification.json
[{"id":"034e406fdccb3b06","type":"aulaNode","z":"ef52919cded16f24","name":"","outputChoice":"getMessages","x":430,"y":340,"wires":[["5343af3945996b41","dc37e9b5a9173242"]]},{"id":"1adbe184adacee6b","type":"inject","z":"ef52919cded16f24","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":340,"wires":[["034e406fdccb3b06"]]},{"id":"5e7aa17782bf244d","type":"debug","z":"ef52919cded16f24","name":"debug 8","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1000,"y":340,"wires":[]},{"id":"5343af3945996b41","type":"function","z":"ef52919cded16f24","name":"Extracts messages","func":"if (msg.payload.length == 0) return\nfor (const message of msg.payload) {\n    node.send({ payload: `${message.subject}: ${message.text} - ${new Date(message.sendDateTime).toLocaleTimeString('de').substring(0, 5)}` })\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":750,"y":340,"wires":[["5e7aa17782bf244d"]]},{"id":"62558b9eb882b59c","type":"aulaNode","z":"ef52919cded16f24","name":"","outputChoice":"getPosts","x":420,"y":400,"wires":[["5343af3945996b41"]]},{"id":"2f95e42b13eafb0b","type":"aulaNode","z":"ef52919cded16f24","name":"","outputChoice":"getNotifications","x":440,"y":480,"wires":[["5343af3945996b41"]]},{"id":"dc37e9b5a9173242","type":"delay","z":"ef52919cded16f24","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":240,"y":400,"wires":[["62558b9eb882b59c","fac6ca5c13ee21f4"]]},{"id":"fac6ca5c13ee21f4","type":"delay","z":"ef52919cded16f24","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":240,"y":480,"wires":[["2f95e42b13eafb0b"]]}]